/* Common styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --orange-color: #ED4C5C;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

main {
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 164px;
}

/* Header */
.header {
    background-image: url(../img/Bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 782px;
    padding-top: 16px;
    color: #fff;
}

.menu {
    padding: 26px 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo p {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

.menu-list {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
}

.menu-list a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.menu-list a:hover {
    text-decoration: underline;
}

.menu button {
    font-size: 14px;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 12px 30px;
    transition: 0.3s ease;
}

.menu button:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.2);
}

.header-inner {
    margin-top: 140px;
    text-align: center;
}

.header-inner h1 {
    font-weight: 700;
    font-size: 72px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.header-inner p {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    max-width: 540px;
    margin: 0 auto;
    padding: 40px 0;
}

.header-inner button {
    font-size: 14px;
    background-color: #fff;
    color: var(--orange-color);
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
    padding: 16px 28px;
    transition: 0.3s ease;
}

.header-inner button:hover {
    cursor: pointer;
    background-color: #eee;
}

/* Review */
.review {
    padding: 94px 0;
}
.review-inner {
    display: flex;
    gap: 124px;
    align-items: center;
}
.review-text {
    max-width: 446px;
}
h2.tittle {
    font-weight: 500;
    font-size: 36px;
}

.review-text p {
    font-size: 14px;
    line-height: 140%;
    padding: 44px 0 14px;
}

.review-text a {
    text-decoration: none;
    color: var(--orange-color);
    font-size: 14px;
}
.review-img img {
    max-width: 445px;
    width: 100%;
}

@media screen and (max-width: 1440px) {
    .container {
        padding: 0 15px;
    }
}

@media screen and (max-width: 1024px) {
    .review-inner {
        gap: 40px;
    }
    .review-text {
        max-width: 340px;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        display: none;
    }

    .menu {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .header-inner h1 {
        font-size: 52px;
    }

    .header-inner p {
        font-size: 18px;
    }
    .review-inner {
        flex-direction: column;
        justify-content: center;
    }
    .review-text {
        max-width: 446px;
    }
}

@media screen and (max-width: 480px) {
    .menu-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu button {
        font-size: 12px;
        padding: 10px 24px;
    }

    .header-inner h1 {
        font-size: 32px;
    }

    .header-inner p {
        font-size: 14px;
    }

    .header-inner button {
        font-size: 12px;
        padding: 10px 24px;
    }
    .review {
        padding: 60px 0;
    }
    h2.tittle {
        font-size: 26px;
    }
    
    .review-text p {
        font-size: 12px;
    }
    
    .review-text a {
        font-size: 12px;
    }
}

